<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-clone="true" data-md-stick-up-offset="157px" data-lg-stick-up-offset="157px" class="rd-navbar rd-navbar-default">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand--><a href="index.html" class="rd-navbar-brand"><span class="text-thin text-primary">[</span>
                  <div class="brand-name"><span class="text-ubold text-river-bed">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
              </div>
              <div class="rd-navbar-aside">
                <div data-rd-navbar-toggle=".rd-navbar-aside" class="rd-navbar-aside-toggle"><span></span></div>
                <div class="rd-navbar-aside-content">
                  <ul class="block-wrap-list">
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-clock-32x32.png" alt="" width="32" height="32"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><span class="text-bold">Mon - Sat: 9:00 - 18:00</span><span>Sunday CLOSED</span></address>
                        </div>
                      </div>
                    </li>
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-map-marker-25x33.png" alt="" width="25" height="33"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><a href="#" class="text-gray-base"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></address>
                        </div>
                      </div>
                    </li>
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-phone-28x29.png" alt="" width="28" height="29"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><span class="text-bold"><a href="callto:#" class="text-gray-base">(123)&nbsp;45678910</a></span><span><a href="mailto:#" class="text-gray-base">info@demolink.org</a></span></address>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="bg-athens-gray bg-wrap">
                    <div class="block-container">
                      <div class="block-left">
                        <p class="rd-navbar-fixed--hidden small">Welcome to FinExpert, your expert in managing your finances!</p>
                      </div>
                      <div class="block-right">
                        <ul class="list-inline">
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-facebook"></a></li>
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-twitter"></a></li>
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-google-plus"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-nav-wrap rd-navbar-nav-dark">
                <div class="rd-navbar-nav-wrap-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search">
                    <!-- RD Search-->
                    <form action="search-results.html" method="GET" data-search-live="rd-search-results-live" class="rd-search">
                      <div class="form-group">
                        <label for="rd-search-form-input" class="form-label">Search...</label>
                        <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                        <div id="rd-search-results-live" class="rd-search-results-live"></div>
                      </div>
                      <button type="submit" class="rd-search-submit"></button>
                    </form>
                    <div data-rd-navbar-toggle=".rd-navbar-search" class="rd-navbar-search-toggle"></div>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="index.html">Home</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="index.html">Header Default</a></li>
                        <li><a href="header-light.html">Header Light</a></li>
                        <li><a href="header-contrast.html">Header Contrast</a></li>
                        <li><a href="index.html">Footer Default</a></li>
                        <li><a href="footer-minimal.html">Footer Minimal</a></li>
                        <li><a href="footer-variant-3.html">Footer Variant 3</a></li>
                      </ul>
                    </li>
                    <li><a href="about.html">About Us</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="team.html">Our team</a></li>
                        <li><a href="team-member-profile.html">Team member profile</a></li>
                      </ul>
                    </li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="blog-post.html">Blog post</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="#">Elements</a>
                          <!-- RD Navbar Dropdown-->
                          <ul class="rd-navbar-dropdown">
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="grid-system.html">Grid system</a></li>
                            <li><a href="icons.html">Icons FontAwesome</a></li>
                            <li><a href="progress-bars.html">Progress Bars</a></li>
                            <li><a href="tables.html">Table Styles</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                          </ul>
                        </li>
                        <li><a href="coming-soon.html">Coming soon</a></li>
                        <li><a href="404.html">404 Page</a></li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <div data-min-height="400px" class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide bg-gray-lighter"><img src="images/home-slide-1.jpg" alt="" width="1"/>
            <div class="swiper-slide-caption">
              <!-- Solutions that never miss the aim-->
              <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-152 section-lg-bottom-235">
                <div class="shell text-center text-sm-left">
                  <div class="range">
                    <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0">
                      <h1>Solutions that<br>never miss the aim</h1>
                      <div class="group-md offset-top-25"><a href="#" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">Learn More</a><a href="services.html" class="btn btn-sm btn-gray-darker-outline min-width-160">Our Services</a></div>
                    </div>
                  </div>
                </div>

              </section>
            </div>
          </div>
          <div class="swiper-slide bg-gray-darker"><img src="images/home-slide-2.jpg" alt="" width="2"/>
            <div class="swiper-slide-caption">
              <!-- Solutions that never miss the aim-->
              <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-125 section-lg-bottom-235">
                <div class="shell text-center text-sm-left">
                  <div class="range">
                    <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0">
                      <h1>Expert Financial Advice</h1>
                      <p class="big">With over 20 years of experience we'll ensure<br class="veil reveal-sm-block">you always get the best guidance</p>
                      <div class="group-md offset-top-25"><a href="services.html" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">Our Services</a><a href="#" class="btn btn-sm btn-sm-mod btn-white-outline min-width-160">Purchase now</a></div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </div>
        <!-- Swiper Navigation-->
        <div class="swiper-nav">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <!-- Page Content-->
      <main class="page-content">
        <!-- Main services-->
        <section class="section-top-60 section-bottom-55">
          <div class="shell">
            <div class="range range-sm-center">
              <div class="cell-xs-12 cell-sm-5 cell-lg-3 height-fill">
                <div class="product">
                  <div class="icon-decoration-border">
                    <div class="icon-decoration-border-inner"><span class="icon icon-md-variant-2 icon-primary fl-sympletts-coin18"></span></div>
                  </div>
                  <h4><a href="#">Financial Planning</a></h4>
                  <p>
                    We'll help you make
                    sensible decisions about
                     money that can help you
                    achieve your goals in life.
                    
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-sm-top-0 height-fill">
                <div class="product">
                  <div class="icon-decoration-border">
                    <div class="icon-decoration-border-inner"><span class="icon icon-md-variant-2 icon-primary fl-sympletts-coffee2"></span></div>
                  </div>
                  <h4><a href="#">Retirement Planning</a></h4>
                  <p>
                    Use our strategies and
                    retirement advice, including retirement  calculators
                    to help you retire faster.
                    
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0 height-fill">
                <div class="product product-inset-1">
                  <div class="icon-decoration-border">
                    <div class="icon-decoration-border-inner">
                      <div class="icon icon-image"><img src="images/icon-chart-41x36.png" alt="" width="41" height="36"/>
                      </div>
                    </div>
                  </div>
                  <h4><a href="#">Risk Management</a></h4>
                  <p>
                    Risk management is intended
                     to manage financial and other
                    losses associated with risks
                    to your assets or business.
                    
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0 height-fill">
                <div class="product product-inset-1">
                  <div class="icon-decoration-border">
                    <div class="icon-decoration-border-inner">
                      <div class="icon icon-image"><img src="images/icon-case-42x39.png" alt="" width="42" height="39"/>
                      </div>
                    </div>
                  </div>
                  <h4><a href="#">Taxation</a></h4>
                  <p>
                    Tax planning considers the
                    tax implications of business
                    decisions, usually with the goal
                    of minimizing tax liability.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- What We Do-->
        <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-darker">
          <div data-speed="0.5" data-type="media" data-url="images/bg-image-2.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center text-md-left">
              <div class="range">
                <div class="cell-xs-12">
                  <div class="section-45 section-sm-top-85 section-sm-bottom-75">
                    <div class="elements-group">
                      <div class="element-wrap">
                        <h2 class="relative-shift-up-5 noshrink">What We Do</h2>
                        <div class="hr-wrap offset-top-10 offset-sm-top-15 offset-md-top-0">
                          <hr class="hr-md-vertical hr-white">
                        </div>
                        <p class="big">We provide expert financial advice for businesses and individuals</p>
                      </div>
                      <div class="element-wrap"><a href="services.html" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">See All Services</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- About Us-->
        <section class="section-35 section-sm-68">
          <div class="shell">
            <div class="range text-center">
              <div class="cell-xs-12">
                <h2>About Us</h2>
                <hr class="hr-block hr-curious-blue">
              </div>
            </div>
            <div class="range range-sm-center range-md-reverse offset-top-25 offset-sm-top-56">
              <div class="cell-xs-12 cell-sm-9 cell-md-6">
                <div class="inset-md-left-30 inset-md-right-30 inset-md-left-70 inset-md-right-70 offset-top-10">
                  <h4 class="text-bold"><a href="about.html">Doing the right thing, at the right time.</a></h4>
                  <p class="text-gray-base">
                    Welcome to the leading company on the market! Our success
                    is driven by the highest quality customer service. We can meet the requirements even of the whimsical clients; there are no complex tasks for us! Thanks for your choice! Our company can boast the reputation of the trusted partner known worldwide. We are proud
                    of the uncompromising quality of services
                  </p><a href="about.html" class="btn btn-sm btn-curious-blue-outline btn-outline-thin">Read More</a>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-9 cell-md-6 offset-top-56 offset-md-top-0">
                <div class="responsive-tabs responsive-tabs-horizontal responsive-tabs-default">
                  <ul class="resp-tabs-list">
                    <li>Facts</li>
                    <li>Advantages</li>
                    <li>Skills</li>
                  </ul>
                  <div class="resp-tabs-container">
                    <div class="fadeIn animated">
                      <p>
                        Our company is your one stop solution for all needs. There is no doubt that we
                        are the leaders and you don't have to worry about our image because it is perfect.
                      </p>
                      <ul class="list-flex">
                        <li>
                          <p class="count">275</p>
                          <p class="text-gray-base">Cases completed</p>
                        </li>
                        <li>
                          <p class="count">19</p>
                          <p class="text-gray-base">Consultants</p>
                        </li>
                        <li>
                          <p class="count">130</p>
                          <p class="text-gray-base">Awards won</p>
                        </li>
                      </ul>
                    </div>
                    <div class="fadeIn animated">
                      <p>
                        Our company is your one stop solution for all needs. There is no doubt that we
                        are the leaders and you don't have to worry about our image because it is perfect.
                      </p>
                      <ul class="list-flex">
                        <li>
                          <p class="count">275</p>
                          <p class="text-gray-base">Cases completed</p>
                        </li>
                        <li>
                          <p class="count">19</p>
                          <p class="text-gray-base">Consultants</p>
                        </li>
                        <li>
                          <p class="count">130</p>
                          <p class="text-gray-base">Awards won</p>
                        </li>
                      </ul>
                    </div>
                    <div class="fadeIn animated">
                      <p>
                        Our company is your one stop solution for all needs. There is no doubt that we
                        are the leaders and you don't have to worry about our image because it is perfect.
                      </p>
                      <ul class="list-flex">
                        <li>
                          <p class="count">275</p>
                          <p class="text-gray-base">Cases completed</p>
                        </li>
                        <li>
                          <p class="count">19</p>
                          <p class="text-gray-base">Consultants</p>
                        </li>
                        <li>
                          <p class="count">130</p>
                          <p class="text-gray-base">Awards won</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Loan Calculator-->
        <section class="section-45 section-sm-top-0 section-sm-bottom-0">
          <div class="shell">
            <div class="range range-md-reverse">
              <div class="cell-xs-12 cell-sm-7 cell-md-5">
                <figure class="image-wrap image-wrap-1 bg-athens-gray-inner"><img src="images/home-2-552x654.png" alt="" width="552" height="654"/>
                </figure>
              </div>
              <div class="cell-xs-12 cell-md-7 shift-up-36 shift-up-sm-0">
                <div class="calculator-wrap block-top-level">
                  <h2>Loan Calculator</h2>
                  <hr class="hr-block hr-left hr-curious-blue">
                  <form class="form-calculator">
                    <div class="group-equal">
                      <div class="form-group">
                        <label for="loan-amount" class="form-label-outside">Loan Amount</label>
                        <input id="loan-amount" type="text" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="residual-value" class="form-label-outside">Residual Value</label>
                        <input id="residual-value" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="group-equal">
                      <div class="form-group">
                        <label for="interest-rate" class="form-label-outside">Interest Rate %</label>
                        <input id="interest-rate" type="text" value="7.5" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="number-of-months" class="form-label-outside">Number of Months</label>
                        <input id="number-of-months" type="text" value="7.5" class="form-control">
                      </div>
                    </div>
                  </form>
                  <p class="small offset-top-30">Results based in the data entered above:</p>
                  <form class="form-calculator offset-top-30">
                    <div class="group-equal">
                      <div class="form-group">
                        <label for="monthly-payment" class="form-label-outside">Monthly Payment</label>
                        <input id="monthly-payment" type="text" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="interest-amount" class="form-label-outside">Interest Amount</label>
                        <input id="interest-amount" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="group-equal">
                      <div class="form-group total">
                        <label for="total-payment" class="form-label-outside">Total Payment</label>
                        <input id="total-payment" type="text" class="form-control">
                      </div>
                      <div class="placeholder">&nbsp;</div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Testimonials-->
        <section class="section-50 section-sm-top-68">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12 text-center">
                <h2>Testimonials</h2>
                <hr class="hr-block hr-curious-blue">
              </div>
              <div class="cell-xs-12 offset-top-34 offset-sm-top-25">
                <!-- Owl Carousel-->
                <div data-items="1" data-sm-items="2" data-md-items="3" data-stage-padding="30" data-margin="20" data-sm-stage-padding="1px" data-sm-margin="30" data-md-margin="15" data-lg-margin="66" data-nav="true" class="owl-carousel owl-spacing-1">
                  <div class="item item-inset">
                    <blockquote class="quote-variant-1">
                      <div class="quote-header"><img src="images/home-4-72x72.jpg" alt="" width="72" height="72"/>
                      </div>
                      <div class="quote-body">
                        <q>
                          Hi, guys! You've solved my
                          problem in no time! Your efficient
                          services and customer care are second to none!
                          
                        </q>
                      </div>
                      <div class="quote-meta">
                        <cite>Adam Watson</cite>
                        <p class="text-gray-light">(CEO & Founder)</p>
                      </div>
                    </blockquote>
                  </div>
                  <div class="item item-inset">
                    <blockquote class="quote-variant-1">
                      <div class="quote-header"><img src="images/home-5-72x72.jpg" alt="" width="72" height="72"/>
                      </div>
                      <div class="quote-body">
                        <q>
                          Wow, I'm so happy with
                           your service. You managed
                           to exceed my expectations!
                          You guys are very efficient.
                          
                        </q>
                      </div>
                      <div class="quote-meta">
                        <cite>Louise Smith</cite>
                        <p class="text-gray-light">(CEO & Founder)</p>
                      </div>
                    </blockquote>
                  </div>
                  <div class="item item-inset">
                    <blockquote class="quote-variant-1">
                      <div class="quote-header"><img src="images/home-6-72x72.jpg" alt="" width="72" height="72"/>
                      </div>
                      <div class="quote-body">
                        <q>
                          Great organization!! Your
                          prompt answer became a pleasant
                          surprise for me.You've rendered
                          an invaluable service! Thank you!
                          
                        </q>
                      </div>
                      <div class="quote-meta">
                        <cite>Jack Walsh</cite>
                        <p class="text-gray-light">(CEO & Founder)</p>
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <!-- Brands carousel-->
      <section class="section-35 section-sm-75 bg-alabaster">
        <div class="shell">
          <div class="range">
            <div class="cell-xs-12">
              <div data-items="1" data-xs-items="2" data-sm-items="4" data-md-items="6" data-stage-padding="15" data-margin="30" data-nav="false" class="owl-carousel owl-carousel-centered">
                <div class="item"><a href="#" class="link-image">
                    <figure><img src="images/home-7-170x75.png" alt="" width="170" height="75"/>
                    </figure></a></div>
                <div class="item"><a href="#" class="link-image">
                    <figure><img src="images/home-8-170x75.png" alt="" width="170" height="75"/>
                    </figure></a></div>
                <div class="item"><a href="#" class="link-image">
                    <figure><img src="images/home-9-170x75.png" alt="" width="170" height="75"/>
                    </figure></a></div>
                <div class="item"><a href="#" class="link-image">
                    <figure><img src="images/home-10-170x75.png" alt="" width="170" height="75"/>
                    </figure></a></div>
                <div class="item"><a href="#" class="link-image">
                    <figure><img src="images/home-11-170x75.png" alt="" width="170" height="75"/>
                    </figure></a></div>
                <div class="item"><a href="#" class="link-image">
                    <figure><img src="images/home-12-170x75.png" alt="" width="170" height="75"/>
                    </figure></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <footer class="page-foot">
        <section class="section-45 section-sm-75 bg-river-bed">
          <div class="shell text-center text-sm-left">
            <div class="range range-xs-center">
              <div class="cell-xs-12 cell-sm-6 cell-lg-3"><a href="index.html" class="brand offset-top-5"><span class="text-thin text-primary">[</span>
                  <div class="brand-name"><span class="text-ubold">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
                <p class="offset-sm-top-34">
                  Welcome to the leading company
                  delivering services that combine
                  quality, reliability and compliance!
                </p>
                <div class="elements-group-1 offset-top-22"><span class="small text-italic">Follow Us:</span>
                  <ul class="list-inline">
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-google-plus"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-sm-top-0">
                <h4>Navigation</h4>
                <hr class="hr-variant-1">
                <nav class="footer-nav-wrap text-xs-left">
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="about.html">About</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="typography.html">Typography</a></li>
                    </ul>
                  </div>
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="services.html">Services</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="team.html">Our team</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                <h4>Contact info</h4>
                <hr class="hr-variant-1">
                <address class="contact-info reveal-inline-block">
                  <ul class="contact-info-list">
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-phone"></span></div>
                      <div class="unit-body"><span class="text-bold"><a href="callto:#">(123) 45678910</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-envelope-o"></span></div>
                      <div class="unit-body"><span><a href="mailto:#">info@demolink.org</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-clock-o"></span></div>
                      <div class="unit-body"><span>Mon - Sat: 9:00 - 18:00</span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-map-marker"></span></div>
                      <div class="unit-body"><span><a href="#"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></span></div>
                    </li>
                  </ul>
                </address>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                <h4>Newsletter</h4>
                <hr class="hr-variant-1">
                <p>Get latest updates and offers.</p>
                <!-- RD Mailform-->
                <form data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-inline max-width-300">
                  <div class="form-group">
                    <label for="footer-contact-email" class="form-label">E-Mail</label>
                    <input id="footer-contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-xs btn-picton-blue">Send</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="section-14 bg-ebony-clay">
          <div class="shell text-center">
            <p class="rights">&#169;&nbsp;<span id="copyright-year"></span>&nbsp;FinExpert.<a href="privacy.html">Privacy policy</a>
              More <a rel="nofollow" href="http://www.templatemonster.com/category/financial-advisor-website-templates/" target="_blank">Financial Advisor Website Templates at TemplateMonster.com</a>
            </p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>