<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>Privacy Policy</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-clone="true" data-md-stick-up-offset="157px" data-lg-stick-up-offset="157px" class="rd-navbar rd-navbar-default">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand--><a href="index.html" class="rd-navbar-brand"><span class="text-thin text-primary">[</span>
                  <div class="brand-name"><span class="text-ubold text-river-bed">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
              </div>
              <div class="rd-navbar-aside">
                <div data-rd-navbar-toggle=".rd-navbar-aside" class="rd-navbar-aside-toggle"><span></span></div>
                <div class="rd-navbar-aside-content">
                  <ul class="block-wrap-list">
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-clock-32x32.png" alt="" width="32" height="32"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><span class="text-bold">Mon - Sat: 9:00 - 18:00</span><span>Sunday CLOSED</span></address>
                        </div>
                      </div>
                    </li>
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-map-marker-25x33.png" alt="" width="25" height="33"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><a href="#" class="text-gray-base"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></address>
                        </div>
                      </div>
                    </li>
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-phone-28x29.png" alt="" width="28" height="29"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><span class="text-bold"><a href="callto:#" class="text-gray-base">(123)&nbsp;45678910</a></span><span><a href="mailto:#" class="text-gray-base">info@demolink.org</a></span></address>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="bg-athens-gray bg-wrap">
                    <div class="block-container">
                      <div class="block-left">
                        <p class="rd-navbar-fixed--hidden small">Welcome to FinExpert, your expert in managing your finances!</p>
                      </div>
                      <div class="block-right">
                        <ul class="list-inline">
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-facebook"></a></li>
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-twitter"></a></li>
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-google-plus"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-nav-wrap rd-navbar-nav-dark">
                <div class="rd-navbar-nav-wrap-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search">
                    <!-- RD Search-->
                    <form action="search-results.html" method="GET" data-search-live="rd-search-results-live" class="rd-search">
                      <div class="form-group">
                        <label for="rd-search-form-input" class="form-label">Search...</label>
                        <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                        <div id="rd-search-results-live" class="rd-search-results-live"></div>
                      </div>
                      <button type="submit" class="rd-search-submit"></button>
                    </form>
                    <div data-rd-navbar-toggle=".rd-navbar-search" class="rd-navbar-search-toggle"></div>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="index.html">Home</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="index.html">Header Default</a></li>
                        <li><a href="header-light.html">Header Light</a></li>
                        <li><a href="header-contrast.html">Header Contrast</a></li>
                        <li><a href="index.html">Footer Default</a></li>
                        <li><a href="footer-minimal.html">Footer Minimal</a></li>
                        <li><a href="footer-variant-3.html">Footer Variant 3</a></li>
                      </ul>
                    </li>
                    <li><a href="about.html">About Us</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="team.html">Our team</a></li>
                        <li><a href="team-member-profile.html">Team member profile</a></li>
                      </ul>
                    </li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="blog-post.html">Blog post</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="#">Elements</a>
                          <!-- RD Navbar Dropdown-->
                          <ul class="rd-navbar-dropdown">
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="grid-system.html">Grid system</a></li>
                            <li><a href="icons.html">Icons FontAwesome</a></li>
                            <li><a href="progress-bars.html">Progress Bars</a></li>
                            <li><a href="tables.html">Table Styles</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                          </ul>
                        </li>
                        <li><a href="coming-soon.html">Coming soon</a></li>
                        <li><a href="404.html">404 Page</a></li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
          <div data-speed="0.65" data-type="media" data-url="images/bg-image-1.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center">
              <div class="range">
                <div class="cell-xs-12">
                  <div class="section-45 section-sm-top-60 section-sm-bottom-68">
                    <h2>Privacy Policy</h2>
                    <hr class="hr-block hr-white"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="border-bottom border-bottom-gray-lighter">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Privacy Policy</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- Privacy Policy-->
        <section class="section-85">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <!-- Terms-list-->
                <dl class="list-terms">
                  <dt class="h5">General information</dt>
                  <dd>
                    Welcome to our Privacy Policy page! When you use our web site services, you trust us with your
                    information. This Privacy Policy is meant to help you understand what data we collect, why we
                    collect it, and what we do with it. When you share information with us, we can make our services
                    even better for you. For instance, we can show you more relevant search results and ads, help
                    you connect with people or to make sharing with others quicker and easier. As you use our
                    services, we want you to be clear how we're using information and the ways in which you can
                    protect your privacy. This is important; we hope you will take time to read it carefully.
                    Remember, you can find controls to manage your information and protect your privacy and
                    security. We've tried
                    to keep it as simple as possible.
                  </dd>
                  <dt class="h5">Right to access, correct and delete data and to object to data processing</dt>
                  <dd>
                    Our customers have the right to access, correct and delete personal data relating to them, and
                    to object to the processing of such data, by addressing a written request, at any time. The
                    Company makes every effort to put in place suitable precautions to safeguard the security and
                    privacy of personal data, and to prevent it from being altered, corrupted, destroyed or accessed
                    by unauthorized third parties. However, the Company does not control each and every risk related
                    to the use of the Internet, and therefore warns the Site users of the potential risks involved
                    in the functioning and use of the Internet. The Site may include links to other web sites or
                    other internet sources. As the Company cannot control these web sites and external sources, the
                    Company cannot be held responsible for the provision or display of these web sites and external
                    sources, and may not be held liable for the content, advertising, products, services or any
                    other material available on or from these web sites or external sources.
                  </dd>
                  <dt class="h5">Management of personal data</dt>
                  <dd>
                    You can view or edit your personal data online for many of our services. You can also make
                    choices about our collection and use of your data. How you can access or control your personal
                    data will depend on which services you use. You can choose whether you wish to receive
                    promotional communications from our web site by email, SMS, physical mail, and telephone. If you
                    receive promotional email or SMS messages from us and would like to opt out, you can do so by
                    following the directions in that message. You can also make choices about the receipt of
                    promotional email, telephone calls, and postal mail by visiting and signing into Company
                    Promotional Communications Manager, which allows you to update contact information, manage
                    contact preferences, opt out of email subscriptions, and choose whether to share your contact
                    information with our partners. These choices do not apply to mandatory service communications
                    that are part of certain web site services.
                  </dd>
                  <dt class="h5">Information We Collect</dt>
                  <dd>
                    Our store collects data to operate effectively and provide you the best experiences with our
                    services. You provide some of this data directly, such as when you create a personal account.
                    We get some of it by recording how you interact with our services by, for example, using
                    technologies like cookies, and receiving error reports or usage data from software running on
                    your device. We also obtain data from third parties (including other companies). For example, we
                    supplement the data we collect by purchasing demographic data from other companies. We also use
                    services from other companies to help us determine a location based on your IP address in order
                    to customize certain services to your location. The data we collect depends on the services
                    and features you use.
                  </dd>
                  <dt class="h5">How We Use Your Information</dt>
                  <dd>
                    Our web site uses the data we collect for three basic purposes: to operate our business and
                    provide (including improving and personalizing) the services we offer, to send communications,
                    including promotional communications, and to display advertising. In carrying out these
                    purposes, we combine data we collect through the various web site services you use to give you a
                    more seamless, consistent and personalized experience. However, to enhance privacy, we have
                    built in technological and procedural safeguards designed to prevent certain data combinations.
                    For example, we store data we collect from you when you are unauthenticated (not signed in)
                    separately from any account information that directly identifies you, such as your name, email
                    address or phone number.
                  </dd>
                  <dt class="h5">Sharing Your Information</dt>
                  <dd>
                    We share your personal data with your consent or as necessary to complete any transaction or
                    provide any service you have requested or authorized. For example, we share your content with
                    third parties when you tell us to do so. When you provide payment data to make a purchase, we
                    will share payment data with banks and other entities that process payment transactions or
                    provide other financial services, and for fraud prevention and credit risk reduction. In
                    addition, we share personal data among our controlled affiliates and subsidiaries. We also share
                    personal data with vendors or agents working on our behalf for the purposes described in this
                    statement. For example, companies we've hired to provide customer service support or assist in
                    protecting and securing our systems and services may need access to personal data in order to
                    provide those functions. In such cases, these companies must abide by our data privacy and
                    security requirements and are not allowed to use personal data they receive from us for any
                    other purpose. We may also disclose personal data as part of a corporate transaction such as a
                    merger
                    or sale of assets.
                  </dd>
                </dl><a href="mailto:#" class="privacy-link offset-top-38">privacy@demolink.org</a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- Page Footer-->
      <footer class="page-foot">
        <section class="section-45 section-sm-75 bg-river-bed">
          <div class="shell text-center text-sm-left">
            <div class="range range-xs-center">
              <div class="cell-xs-12 cell-sm-6 cell-lg-3"><a href="index.html" class="brand offset-top-5"><span class="text-thin text-primary">[</span>
                  <div class="brand-name"><span class="text-ubold">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
                <p class="offset-sm-top-34">
                  Welcome to the leading company
                  delivering services that combine
                  quality, reliability and compliance!
                </p>
                <div class="elements-group-1 offset-top-22"><span class="small text-italic">Follow Us:</span>
                  <ul class="list-inline">
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-google-plus"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-sm-top-0">
                <h4>Navigation</h4>
                <hr class="hr-variant-1">
                <nav class="footer-nav-wrap text-xs-left">
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="about.html">About</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="typography.html">Typography</a></li>
                    </ul>
                  </div>
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="services.html">Services</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="team.html">Our team</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                <h4>Contact info</h4>
                <hr class="hr-variant-1">
                <address class="contact-info reveal-inline-block">
                  <ul class="contact-info-list">
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-phone"></span></div>
                      <div class="unit-body"><span class="text-bold"><a href="callto:#">(123) 45678910</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-envelope-o"></span></div>
                      <div class="unit-body"><span><a href="mailto:#">info@demolink.org</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-clock-o"></span></div>
                      <div class="unit-body"><span>Mon - Sat: 9:00 - 18:00</span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-map-marker"></span></div>
                      <div class="unit-body"><span><a href="#"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></span></div>
                    </li>
                  </ul>
                </address>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                <h4>Newsletter</h4>
                <hr class="hr-variant-1">
                <p>Get latest updates and offers.</p>
                <!-- RD Mailform-->
                <form data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-inline max-width-300">
                  <div class="form-group">
                    <label for="footer-contact-email" class="form-label">E-Mail</label>
                    <input id="footer-contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-xs btn-picton-blue">Send</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="section-14 bg-ebony-clay">
          <div class="shell text-center">
            <p class="rights">&#169;&nbsp;<span id="copyright-year"></span>&nbsp;FinExpert.<a href="privacy.html">Privacy policy</a>
            </p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by retoyfer-->
  </body>
</html>