<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>Typography</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-clone="true" data-md-stick-up-offset="157px" data-lg-stick-up-offset="157px" class="rd-navbar rd-navbar-default">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand--><a href="index.html" class="rd-navbar-brand"><span class="text-thin text-primary">[</span>
                  <div class="brand-name"><span class="text-ubold text-river-bed">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
              </div>
              <div class="rd-navbar-aside">
                <div data-rd-navbar-toggle=".rd-navbar-aside" class="rd-navbar-aside-toggle"><span></span></div>
                <div class="rd-navbar-aside-content">
                  <ul class="block-wrap-list">
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-clock-32x32.png" alt="" width="32" height="32"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><span class="text-bold">Mon - Sat: 9:00 - 18:00</span><span>Sunday CLOSED</span></address>
                        </div>
                      </div>
                    </li>
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-map-marker-25x33.png" alt="" width="25" height="33"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><a href="#" class="text-gray-base"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></address>
                        </div>
                      </div>
                    </li>
                    <li class="block-wrap">
                      <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-sm">
                        <div class="unit-left">
                          <figure><img src="images/icon-phone-28x29.png" alt="" width="28" height="29"/>
                          </figure>
                        </div>
                        <div class="unit-body">
                          <address class="contact-info"><span class="text-bold"><a href="callto:#" class="text-gray-base">(123)&nbsp;45678910</a></span><span><a href="mailto:#" class="text-gray-base">info@demolink.org</a></span></address>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="bg-athens-gray bg-wrap">
                    <div class="block-container">
                      <div class="block-left">
                        <p class="rd-navbar-fixed--hidden small">Welcome to FinExpert, your expert in managing your finances!</p>
                      </div>
                      <div class="block-right">
                        <ul class="list-inline">
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-facebook"></a></li>
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-twitter"></a></li>
                          <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-alto-filled fa-google-plus"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-nav-wrap rd-navbar-nav-dark">
                <div class="rd-navbar-nav-wrap-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search">
                    <!-- RD Search-->
                    <form action="search-results.html" method="GET" data-search-live="rd-search-results-live" class="rd-search">
                      <div class="form-group">
                        <label for="rd-search-form-input" class="form-label">Search...</label>
                        <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                        <div id="rd-search-results-live" class="rd-search-results-live"></div>
                      </div>
                      <button type="submit" class="rd-search-submit"></button>
                    </form>
                    <div data-rd-navbar-toggle=".rd-navbar-search" class="rd-navbar-search-toggle"></div>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="index.html">Home</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="index.html">Header Default</a></li>
                        <li><a href="header-light.html">Header Light</a></li>
                        <li><a href="header-contrast.html">Header Contrast</a></li>
                        <li><a href="index.html">Footer Default</a></li>
                        <li><a href="footer-minimal.html">Footer Minimal</a></li>
                        <li><a href="footer-variant-3.html">Footer Variant 3</a></li>
                      </ul>
                    </li>
                    <li><a href="about.html">About Us</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="team.html">Our team</a></li>
                        <li><a href="team-member-profile.html">Team member profile</a></li>
                      </ul>
                    </li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="blog-post.html">Blog post</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="#">Elements</a>
                          <!-- RD Navbar Dropdown-->
                          <ul class="rd-navbar-dropdown">
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="grid-system.html">Grid system</a></li>
                            <li><a href="icons.html">Icons FontAwesome</a></li>
                            <li><a href="progress-bars.html">Progress Bars</a></li>
                            <li><a href="tables.html">Table Styles</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                          </ul>
                        </li>
                        <li><a href="coming-soon.html">Coming soon</a></li>
                        <li><a href="404.html">404 Page</a></li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
          <div data-speed="0.65" data-type="media" data-url="images/bg-image-1.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center">
              <div class="range">
                <div class="cell-xs-12">
                  <div class="section-45 section-sm-top-60 section-sm-bottom-68">
                    <h2>Typography</h2>
                    <hr class="hr-block hr-white"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="border-bottom border-bottom-gray-lighter">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">Elements</a></li>
                  <li class="active">Typography</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- Headings-->
        <section class="section-45 text-gray-base">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12 cell-sm-6">
                <div class="inset-md-right-30 inset-lg-right-50">
                  <h1 class="text-gray-darker">Heading 1</h1>
                  <p>
                    Welcome to the leading company on the market! Our success is driven by the
                    highest quality customer service. We can meet the requirements even of the
                    whimsical clients; there are no complex tasks for us! Thanks for your choice!
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 offset-top-41 offset-sm-top-0">
                <div class="inset-md-right-30 inset-lg-right-50 offset-top-5">
                  <h2 class="text-gray-darker">Heading 2</h2>
                  <p>
                    Welcome to the leading company on the market! Our success is driven by the
                    highest quality customer service. We can meet the requirements even of the
                    whimsical clients; there are no complex tasks for us! Thanks for your choice!
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 offset-top-41">
                <div class="inset-md-right-30 inset-lg-right-50">
                  <h3 class="text-gray-darker">Heading 3</h3>
                  <p class="offset-top-19">
                    Welcome to the leading company on the market! Our success is driven by the
                    highest quality customer service. We can meet the requirements even of the
                    whimsical clients; there are no complex tasks for us! Thanks for your choice!
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 offset-top-41 offset-sm-top-50">
                <div class="inset-md-right-30 inset-lg-right-50">
                  <h4 class="text-gray-darker">Heading 4</h4>
                  <p>
                    Welcome to the leading company on the market! Our success is driven by the
                    highest quality customer service. We can meet the requirements even of the
                    whimsical clients; there are no complex tasks for us! Thanks for your choice!
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 offset-top-41">
                <div class="inset-md-right-30 inset-lg-right-50">
                  <h5 class="text-gray-darker">Heading 5</h5>
                  <p>
                    Welcome to the leading company on the market! Our success is driven by the
                    highest quality customer service. We can meet the requirements even of the
                    whimsical clients; there are no complex tasks for us! Thanks for your choice!
                  </p>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 offset-top-41">
                <div class="inset-md-right-30 inset-lg-right-50">
                  <h6 class="text-gray-darker">Heading 6</h6>
                  <p>
                    Welcome to the leading company on the market! Our success is driven by the
                    highest quality customer service. We can meet the requirements even of the
                    whimsical clients; there are no complex tasks for us! Thanks for your choice!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Blockquote-->
        <section>
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12 cell-sm-10 cell-lg-8">
                <h3>Blockquote</h3>
                <blockquote class="quote offset-top-25">
                  <div class="quote-body">
                    <q>Many thanks to Sam and Jason, because of the investments we have made with this advisory company, we have been able to support our three daughters through post-secondary education.  We appreciate the guidance that Sam and Jason have provided in helping us make sound financial decisions. Thanks again!</q>
                  </div>
                  <div class="quote-meta">
                    <cite>Steve Jobs</cite><span>(CEO & Founder)</span>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </section>

        <!-- Text Format-->
        <section class="section-top-45">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12 cell-sm-10 cell-lg-7">
                <h3>Text Format</h3>
                <p class="offset-top-19"><a href="#" class="link-inline">Link text</a><a href="#" class="link-inline hover">Hover link text</a><a href="#" class="link-inline active">Press link</a>A website is a medium that connects a person with the world of digital data.<span class="text-bold">This is a bold text</span>With its help users can access information, make purchases, communicate with each other, and do loads of other things.</p>
                <p class="offset-top-22"><span>A website has become an indispensable</span>
                  <mark>highlighted text</mark>tool of a professional business<span class="text-italic">italic text</span>presentation. Due to the clever marketing strategy and professional web designing, corporations can
                  grow<span data-toggle="tooltip" data-placement="top" title="Tooltip text" class="text-gray-light">Tooltips</span>their client base with ease. On the modern market the competition is very tough,<span class="text-strike">strickethrough text</span>so in order to be a success businesses experiment<span class="text-underline">underlined text.</span>
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Lists-->
        <section class="section-top-45">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12 cell-sm-4 cell-lg-3">
                <h3>Unordered List</h3>
                <ul class="list-marked offset-top-19">
                  <li>Highly Customizable;</li>
                  <li>Pre-Built Pages;</li>
                  <li>Powered Page Builder;</li>
                  <li>SEO Optimized;</li>
                  <li>Outstanding Support.</li>
                </ul>
              </div>
              <div class="cell-xs-12 cell-sm-4 cell-lg-3 offset-top-30 offset-sm-top-0">
                <h3>Ordered List</h3>
                <ol class="list-ordered offset-top-19">
                  <li>Highly Customizable;</li>
                  <li>Pre-Built Pages;</li>
                  <li>Powered Page Builder;</li>
                  <li>SEO Optimized;</li>
                  <li>Outstanding Support.</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <!-- Lists-->
        <section class="section-top-35">
          <div class="shell">
            <h3>Icon List</h3>
            <div class="range offset-top-30">
              <div class="cell-xs-12 cell-md-10 cell-lg-12">
                <ul class="range range-sm-center list-iconed">
                  <li class="cell-xs-12 cell-sm-6 cell-lg-3">
                    <div class="unit unit-horizontal unit-spacing-lg">
                      <div class="unit-left"><span class="icon icon-md icon-primary fl-sympletts-screen85"></span></div>
                      <div class="unit-body">
                        <h5>Retina Ready</h5>
                        <p>
                          The goal of Retina Displays is
                          to make the display of text extremely crisp.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-34 offset-sm-top-0">
                    <div class="unit unit-horizontal unit-spacing-lg">
                      <div class="unit-left"><span class="icon icon-md-variant-1 icon-primary fl-sympletts-equalizer43"></span></div>
                      <div class="unit-body">
                        <h5>Incredibly Flexible</h5>
                        <p>
                          Some developers have a
                                                                                    defined workflow and are
                                                                                    used to using various tools.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-34 offset-lg-top-0">
                    <div class="unit unit-horizontal unit-spacing-lg">
                      <div class="unit-left"><span class="icon icon-md icon-primary fl-sympletts-float2"></span></div>
                      <div class="unit-body">
                        <h5>Quick Support</h5>
                        <p>
                          Problems with your website or
                                                                                    email? Check our contact us.
                                                                                    We're here to help!
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-34 offset-lg-top-0">
                    <div class="unit unit-horizontal unit-spacing-lg">
                      <div class="unit-left"><span class="icon icon-md icon-primary fl-sympletts-check-mark4"></span></div>
                      <div class="unit-body">
                        <h5>Regular Updates</h5>
                        <p>
                          New child themes, skins and
                                                                                    predesigned pages are being released 2-3 times per month.
                          
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Layouts-->
        <section class="section-top-45 section-bottom-85 text-gray-base">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <h3>Image Centered</h3>
                <figure><img src="images/typography-1-1169x610.jpg" alt="" width="1169" height="610"/>
                </figure>
                <p class="offset-top-25">We were founded in year 2007 and originally operated as a partnership. The firm has since evolved into a limited. The principal activity of the firm has been financial advisory Services and the general management consultancy which includes training programs. We can help you execute a sound financial program by utilizing the following consultancy services in an advisory framework.</p>
              </div>
            </div>
            <div class="range offset-top-38">
              <div class="cell-xs-12">
                <h3>Image Left</h3>
              </div>
              <div class="cell-xs-12 offset-top-25">
                <div class="range">
                  <div class="cell-xs-12 cell-sm-8 cell-md-6">
                    <figure><img src="images/typography-2-570x386.jpg" alt="" width="570" height="386"/>
                    </figure>
                  </div>
                  <div class="cell-xs-12 cell-md-6 offset-top-30 offset-md-top-0">
                    <div class="inset-md-left-30 inset-lg-left-70">
                      <p>We were founded in year 2007 and originally operated as a partnership. The firm has since evolved into a limited. The principal activity of the firm has been financial advisory Services and the general management consultancy which includes training programs. We can help you execute a sound financial program by utilizing the following consultancy services in an advisory framework.</p>
                      <p>
                        While developing a customized financial plan, we shall walk with you step by step process that will make you feel confident in your decisions. Once your goals have been established, we shall customize appropriate strategies to suit your vision and strategies.
                        
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-xs-12 offset-top-45">
                <h3>Image Right</h3>
              </div>
              <div class="cell-xs-12 offset-top-25">
                <div class="range range-sm-right range-md-reverse">
                  <div class="cell-xs-12 cell-sm-8 cell-md-6">
                    <figure><img src="images/typography-3-570x386.jpg" alt="" width="570" height="386"/>
                    </figure>
                  </div>
                  <div class="cell-xs-12 cell-md-6 offset-top-30 offset-md-top-0">
                    <div class="inset-md-right-30 inset-lg-right-70">
                      <p>We were founded in year 2007 and originally operated as a partnership. The firm has since evolved into a limited. The principal activity of the firm has been financial advisory Services and the general management consultancy which includes training programs. We can help you execute a sound financial program by utilizing the following consultancy services in an advisory framework.</p>
                      <p>
                        While developing a customized financial plan, we shall walk with you step by step process that will make you feel confident in your decisions. Once your goals have been established, we shall customize appropriate strategies to suit your vision and strategies.
                        
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <!-- Page Footer-->
      <footer class="page-foot">
        <section class="section-45 section-sm-75 bg-river-bed">
          <div class="shell text-center text-sm-left">
            <div class="range range-xs-center">
              <div class="cell-xs-12 cell-sm-6 cell-lg-3"><a href="index.html" class="brand offset-top-5"><span class="text-thin text-primary">[</span>
                  <div class="brand-name"><span class="text-ubold">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
                <p class="offset-sm-top-34">
                  Welcome to the leading company
                  delivering services that combine
                  quality, reliability and compliance!
                </p>
                <div class="elements-group-1 offset-top-22"><span class="small text-italic">Follow Us:</span>
                  <ul class="list-inline">
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-facebook"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-twitter"></a></li>
                    <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-google-plus"></a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-sm-top-0">
                <h4>Navigation</h4>
                <hr class="hr-variant-1">
                <nav class="footer-nav-wrap text-xs-left">
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="about.html">About</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li class="active"><a href="typography.html">Typography</a></li>
                    </ul>
                  </div>
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="services.html">Services</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="team.html">Our team</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                <h4>Contact info</h4>
                <hr class="hr-variant-1">
                <address class="contact-info reveal-inline-block">
                  <ul class="contact-info-list">
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-phone"></span></div>
                      <div class="unit-body"><span class="text-bold"><a href="callto:#">(123) 45678910</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-envelope-o"></span></div>
                      <div class="unit-body"><span><a href="mailto:#">info@demolink.org</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-clock-o"></span></div>
                      <div class="unit-body"><span>Mon - Sat: 9:00 - 18:00</span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-map-marker"></span></div>
                      <div class="unit-body"><span><a href="#"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></span></div>
                    </li>
                  </ul>
                </address>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-3 offset-top-45 offset-lg-top-0">
                <h4>Newsletter</h4>
                <hr class="hr-variant-1">
                <p>Get latest updates and offers.</p>
                <!-- RD Mailform-->
                <form data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-inline max-width-300">
                  <div class="form-group">
                    <label for="footer-contact-email" class="form-label">E-Mail</label>
                    <input id="footer-contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-xs btn-picton-blue">Send</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="section-14 bg-ebony-clay">
          <div class="shell text-center">
            <p class="rights">&#169;&nbsp;<span id="copyright-year"></span>&nbsp;FinExpert.<a href="privacy.html">Privacy policy</a>
            </p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>