<ion-view title="CheckOut with Stripe">
    <ion-content padding="true" class="has-header">
        <form name="stripeForm" ng-submit="stripeCheckout(stripeForm.$valid)" novalidate>
            <ion-list>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">CC Number</span>
                            <input type="text" placeholder="CC Number" name="cc_number" ng-model="cc.cc_number" required>
                        </label>
                        <div class="error" ng-show="(stripeForm.cc_number.$dirty || submitted) && stripeForm.cc_number.$invalid" style="color: red;">CC Number is required.</div>
                    </div>    
                </div>  

                <div class="row">
                    <div class="col">  
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">CVC</span>
                            <input type="text" placeholder="CVC" name="cvc" ng-model="cc.cvc" required>
                        </label>
                        <div class="error" ng-show="(stripeForm.cvc.$dirty || submitted) && stripeForm.cvc.$invalid" style="color: red;">CVC is required.</div>
                    </div>    
                </div>




                <div class="row">
                    <div class="col">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Expire Month
                            </div>
                            <select name="expire_month" ng-model="cc.expire_month" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>                                                                                                
                            </select>
                        </label>
                    </div>
                </div>   
                

                <div class="row">
                    <div class="col">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Expire Year
                            </div>
                            <select name="expire_year" ng-model="cc.expire_year" required>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                            </select>
                        </label>
                    </div>
                </div>    

                <div class="spacer" style="height: 40px;"></div>
                <button type="submit" class="button button-positive button-block">Submit</button>
            </ion-list>
        </form>            
    </ion-content>
</ion-view>